@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;

}
#navbar{
    position: sticky;
    top: 0;
    left: 0;
    z-index: 100;
    padding: .5rem 5rem;
    box-shadow: 5px 5px 20px rgba(0,0,0,.5);
    background:#04d3fb;
}
.navbar .navbar-brand{
    font-size: 80px;
    font-weight: 200;
    color: #070707 !important;
}
#navbarSupportedContent a{
    color: #070707;
    border-bottom: 2px solid transparent;
}
#navbarSupportedContent a:hover{
    border-bottom: 2px solid #070707;
}
#navbarSupportedContent button{
    background: #070707;
    width: 5rem;
    border-radius: 15px;
}
section{
    width: 100%;
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}
#home
{
    background:linear-gradient(rgba(39, 37, 37, 0.3),rgba(0,0,0,.4)) ,url(homenew.jpg);
    background-size: cover;
    background-position: center;
    flex-direction: column;
}

#home h1{
    font-size: 100px;
    color: #eff7f6;
    letter-spacing: 3px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}
#home p{
    font-size: 20px;
    color: rgb(255, 255, 255);

}

#home .input-group{
    width: 40%;
    height: 45px;
}

.signin{
    background: #409bad !important;
    color: #011b19 !important;
}
#about{
    background: linear-gradient(to right,#fff 100%);
}

#about h1{
    font-weight: 800;
    font-size: 50px;
    color: #011b19;
}
#about p{
    font-style: arial;
    color: #011b19;
}
#service{
    background-image: url(language.jpg) ;
}
#service h1{
    font-size: 50px;
    font-weight: 700;
}

#service img{
   width: 200px;
   height: 200px;
}

.card{
    width: 250px;
    height: 300px;
    background:#25a5be !important;
    border: none !important;
    box-shadow: 15px 20px 20px rgba(0,0,0,.3),
               inset 4px 4px 10px #25a5be;           
    border-radius: 20px !important;
    overflow:hidden ;
    justify-content: center;           
    align-items: center;
    margin: 20px 60px;

}

.login{
    background: #fad028 !important;
    color: #011b19 !important;
}

.card:hover{
    box-shadow: inset 5px 5px 10px rgba(0,0,0,.3),
               inset -4px -4px 10px #25a5be;  
    transition: .2s;
}
body{
    font-family: 'Poppins', sans-serif;;
}
.container{
    width: 85%;
    
    border-radius: 6px;
    padding: 20px 60px 30px 40px;
    box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);
  }
  .container .content{
    display: flex;
    align-items: center;
    justify-content: space-between;
  }
  .container .content .left-side{
    width: 25%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-top: 15px;
    position: relative;
  }
  .content .left-side::before{
    content: '';
    position: absolute;
    height: 70%;
    width: 2px;
    right: -15px;
    top: 50%;
    transform: translateY(-50%);
    background: #afafb6;
  }
  .content .left-side .details{
    margin: 14px;
    text-align: center;
  }
  .content .left-side .details i{
    font-size: 30px;
    color:#04d3fb ;
    margin-bottom: 10px;
  }
  .content .left-side .details .topic{
    font-size: 18px;
    font-weight: 500;
  }
  .content .left-side .details .text-one,
  .content .left-side .details .text-two{
    font-size: 14px;
    color: #afafb6;
  }
  .container .content .right-side{
    width: 75%;
    margin-left: 75px;
  }
  .content .right-side .topic-text{
    font-size: 23px;
    font-weight: 600;
    color: #04d3fb;
  }
  .right-side .input-box{
    height: 50px;
    width: 100%;
    margin: 12px 0;
  }
  .right-side .input-box input,
  .right-side .input-box textarea{
    height: 100%;
    width: 100%;
    border: none;
    outline: none;
    font-size: 16px;
    background: #F0F1F8;
    border-radius: 6px;
    padding: 0 15px;
    resize: none;
  }
  .right-side .message-box{
    min-height: 110px;
  }
  .right-side .input-box textarea{
    padding-top: 6px;
  }
  .right-side .button{
    display: inline-block;
    margin-top: 12px;
  }
  .right-side .button input[type="button"]{
    color: #fff;
    font-size: 18px;
    outline: none;
    border: none;
    padding: 8px 16px;
    border-radius: 6px;
    background: #04d3fb;
    cursor: pointer;
    transition: all 0.3s ease;
  }
  .button input[type="button"] :hover{
    background: #04d3fb;
  }
  
  @media (max-width: 950px) {
    .container{
      width: 90%;
      padding: 30px 40px 40px 35px ;
    }
    .container .content .right-side{
     width: 75%;
     margin-left: 55px;
  }
  }
  @media (max-width: 820px) {
    .container{
      margin: 40px 0;
      height: 100%;
    }
    .container .content{
      flex-direction: column-reverse;
    }
   .container .content .left-side{
     width: 100%;
     flex-direction: row;
     margin-top: 40px;
     justify-content: center;
     flex-wrap: wrap;
   }
   .container .content .left-side::before{
     display: none;
   }
   .container .content .right-side{
     width: 100%;
     margin-left: 0;
   }
  }